<!--
  Generated template for the CustomerHome page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Customer List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <ion-card *ngFor="let customer of customers" (click)="editCustomer(customer)">

  <ion-item>
    <ion-avatar item-left>
         <img-loader src="{{customer.FileWithLink}}" fallback="assets/img/no_image.png" useImg></img-loader>
    </ion-avatar>
    <h2>{{customer.FullName}}</h2>
    <p *ngIf="customer.Deleted=='true'">Deleted</p>
  </ion-item>


  <ion-card-content>
    <div *ngIf="customer.Email"><strong>Email:</strong>{{customer.Email}}</div>
    <div *ngIf="customer.Phone"><strong>Phone:</strong>{{customer.Phone}}</div>
    <div><strong>Address:</strong>{{getCustomerAddress(customer)}}</div>
    <div *ngIf="customer.Description"><strong>Phone:</strong>{{customer.Description}}</div>
  </ion-card-content>

  <ion-row>
    <ion-col *ngIf="customer.Deleted!='true'" (click)="deleteCustomer(customer);$event.stopPropagation();">
      <button ion-button icon-left clear small>
        <ion-icon name="trash"></ion-icon>
        <div>Delete</div>
      </button>
    </ion-col>
    <ion-col *ngIf="customer.Deleted!='true'" (click)="saveCustomer(customer);$event.stopPropagation();">
      <button ion-button icon-left clear small>
        <ion-icon name="share-alt"></ion-icon>
        <div>Save</div>
      </button>
    </ion-col>
    <ion-col *ngIf="customer.Phone" (click)="callTel(customer.Phone);$event.stopPropagation();">
      <button ion-button icon-left clear small>
        <ion-icon name="call"></ion-icon>
        <div>Call</div>
      </button>
    </ion-col>
  </ion-row>
</ion-card>
 <ion-infinite-scroll (ionInfinite)="doSearchMoreCustomer($event)" *ngIf="fetchedResults < numberOfResults" >
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
