<!--

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{topic.Title}}</ion-title>
    <ion-buttons end>
      <button *ngIf="user == topic.Owner.UserId"  ion-button outline icon-left (click)="closeTopic()">
        <ion-icon name="close"></ion-icon>
         Topic
      </button>
     </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <ion-list>
  <ion-item *ngFor="let topicLine of topic.TopicLines">
    <div class="chatBubble">
      <img class="profile-pic {{user == topicLine.RepliedBy.UserId ? 'left':'right'}}" src="assets/img/no_image.png">
      <div class="chat-bubble {{user == topicLine.RepliedBy.UserId ? 'left':'right'}}">
        <div class="message">{{topicLine.Reply}}</div>
        <div class="message-detail">
          <div style="font-weight:bold;">{{topicLine.RepliedBy.UserId}} </div>
          <div>{{topicLine.ReplyDate}}</div>
       </div>
     </div>
   </div>
</ion-item>
</ion-list>
<ion-item class="question-text">
    <ion-input type="text" placeholder="Reply" #replyInput></ion-input>
    <button ion-button item-right (click)='reply(replyInput.value);replyInput.value = ""'
                    *ngIf="replyInput.value && replyInput.value.length > 0" >
      <ion-icon name="send"></ion-icon>
    </button>
</ion-item>
</ion-content>