ps-home {
  .menu-back{
      color: color($colors, light);
      background: color($colors, favorite);
      font-weight: 600;
  }
  .home-bg {
    background: url(/assets/img/home.jpg) no-repeat;
    background-size: cover;
  }
}
