ps-sales-lead-details {
  .good{
          color:color($colors, secondary)
      }
  .bad{
          color: color($colors, danger)
      }
  ion-card.card {
        height: 350px;
        float: left;
        margin: 10px;
        img{
            max-height: 150px;
            width: auto;
            margin: auto;
        }
        ion-card-title.card-title{
            font-size: 11px !important;
            font-weight: bold;
            text-align: center;
        }
    } 

  .clearfix:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
   } 
}
