ps-customer-add {
  .button-container{
    width: 100%;
    text-align: center;
  }
  .cust-logo{
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
    border-radius: 50px;
  }
}
