ps-item-details {
  ion-slides{
      height: 200px;
      .swiper-slide img{
          max-height: 200px;
          width: auto;
          height: auto;
      }
  }
  ion-card{
      padding: 10px;
      .item-description{
          text-align: center;
          line-height: 1.5em;
      }
  }
}
