ps-item-search-result {
   .scroll-content ion-card-header {
    background: color($colors, secondary);
    padding: 10px;
    font-weight: 600;
    color: color($colors, light);
    ion-icon{
        padding-right: 10px;
    }
    .align-right{
        float: right;
    }
  }

  .scroll-content ion-card-header.deleted-item{
      background: color($colors, danger); 
  }

  .scroll-content ion-card-header + ion-card-content{
        padding-top: 13px;
    }

    ion-card.card {
        height: 230px;
        width: 42%;
        float: left;
        margin: 10px;
        img{
            max-height: 150px;
            width: auto;
            margin: auto;
            height: 150px;
        }
        ion-card-title.card-title{
            font-size: 11px !important;
            font-weight: bold;
            text-align: center;
            max-height: 60px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical !important;
        }
    } 

    .clearfix:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
   } 
  
}
