$background-color:rgba(207,216,220,0.56);
$primary-color: #387ef5;
$secondary-color:  #B0BEC5;
$additional-info-color: #263238;
$medium-dark: #444;
$danger:     #f53d3d;
$dark: #222;
$light: #f4f4f4;
$good:   #69BB7B;
$warn: #FFA500;
$filter-start-color:#0D47A1;
$filter-stop-color:#42A5F5;
$menu-bg-color:rgba(207,216,220,0.87);
$background-inherit:rgba(255,255,255,0.58);

  
