$background-color:url(../../bootstrap/images/bck.jpg) no-repeat center center;
$primary-color: #00abff;
$secondary-color:  #B0BEC5;
$additional-info-color: #263238;
$medium-dark: #444;
$danger:     #f53d3d;
$dark: #222;
$light: #f4f4f4;
$good:   #69BB7B;
$warn: #FFA500;
$filter-start-color:rgba(255, 255, 255, 0.3);;
$filter-stop-color:rgba(255, 255, 255, 0.1);;
$menu-bg-color:#282828;
$menu-hover-color:#00abff;
$background-inherit:rgba(255,255,255,0.58);
$popup-color:#B0BEC5;
$header-color:#282828;  
$login-bg: rgba(255, 255, 255, 0.1);
$tab-bg:#A0A0A0;
  
