@import "./reset";
@import "./colors.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./nav.scss";
@import "./alert-dialog.scss";

body {
    background:  $background-color;
  	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

p {
		margin: 0px;
	}


div.pagestyle {
     position: relative;
    overflow: auto;
    width: 86%;
    float: left;
}

div.detailCRUDStyle {
    position:relative;
    top:5%;
    overflow:auto;
    color: $light;
    margin: 10px;
    padding: 10px;
    background-color: $primary-color;
    background: -webkit-linear-gradient(305deg,$filter-start-color,$filter-stop-color);
    background: linear-gradient(145deg,$filter-start-color,$filter-stop-color);
}

div.childSectionStyle {
position:relative;
overflow:auto;
background-color:rgb(255,255,255); 
}
 
div.summaryStyle{
 text-align: right;
 position:absolute;
 top:90%;
 width:86%;
 left:14%;
 #btSubmit{
	 background: $good;
 }
 #btCancel,#btnFilterDelete{
	 background: $danger;
 }
 #btnFetchAll{
	 background: $primary-color;
 }
 #btnFilterClear{
	 background: $warn;
 }
}


span {
	color: $light;
	font-size: 14px;
	display: inline-block;
    min-width: 100px;
}



span.errorStyle {
	color:$danger;
	font-size:13;
}

span.bolded {
	color:$warn;
	font-size: 15px;
	width:15;
	font-weight:bold;
	
}


span.titleStyleUnSelected:hover  {
  background: $light;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
  color:$dark;
  cursor: hand;
}

input#btfilterSave,input#btdwLoad{
	background: $good;
}


input[type=file]{
	display: inline;
}


span.titleStyleSelected  {
    background: $primary-color;
    font-weight: bold;
}

span.highlighted {
    font-size: 20px;
    color:"Black";
}
table.errorStyle {
	text-align: left;
}
tr.uitabstyle{
	text-align: left;
}
tr.oddRowError {
	text-align: left;
	background-color:$dark;
}
tr.evenRowError {
	text-align: left;
	background-color:$dark;
}
table.CRUDtableContainer {
	line-height: 200%;
	td{
		text-align: left;
	}
	input{
		line-height: initial;
	}
}

table.uitabstyle{
	background-color: $background-inherit;
	span{
		color: $dark;
	}
	td{
	   padding: 5px;
	}
	span.titleStyleSelected{
		color: $light;
	}
}
th.uitabstyle{
	background-color:$background-color;
}
table, tr {
width : 100%;
text-align: right;
}

.button {
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
	  color: $light;
}


.outlinedTable{
  textarea{
	      height: 50px;
  }
  input{
	    line-height: initial;
  }
  td{
	  vertical-align: middle;
	      text-align: center;
  }
}

.childSectionStyle{
	span{
		color: $dark;
	}
}