@import "./reset";
@import "./colors.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./nav.scss";
@import "./alert-dialog.scss";

body {
    background:  $background-color;
  	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

form {
	> p {
		margin: 0px;
	}
}
div.pagestylefull {
     position: relative;
    overflow: auto;
    width: 100%;
    float: left;
}


div.pagestyle {
     position: relative;
    overflow: auto;
    width: 86%;
    float: left;
}

div.uitabstyle {
background-color: $tab-bg;
}

div.detailCRUDStyle {
    position:relative;
    top:5%;
    overflow:auto;
    color: $light;
    margin: 10px;
    padding: 10px;
    background-color: $primary-color;
    background: -webkit-linear-gradient(305deg,$filter-start-color,$filter-stop-color);
    background: linear-gradient(145deg,$filter-start-color,$filter-stop-color);
}

div.childSectionStyle {
position:relative;
overflow:auto;
background-color:rgb(255,255,255); 
height:45%;
}

div.discussionrootStyle{
 text-align: right;
 position:absolute;
 top:80%;
 width:86%;
 left:14%;
 #btSubmit{
	 background: $good;
 }
 #btCancel,#btnFilterDelete{
	 background: $danger;
 }
 #btnFetchAll{
	 background: $primary-color;
 }
 #btnFilterClear{
	 background: $warn;
 }
}
 
div.summaryStyle{
 text-align: right;
 position:absolute;
 top:90%;
 width:86%;
 left:14%;
 #btSubmit{
	 background: $good;
 }
 #btCancel,#btnFilterDelete{
	 background: $danger;
 }
 #btnFetchAll{
	 background: $primary-color;
 }
 #btnFilterClear{
	 background: $warn;
 }
}


span {
	color: $span-default;
	font-size: 14px;
	display: inline-block;
    min-width: 100px;
}

span.fullpage {
	color: $span-default;
	font-size: 14px;
	display: inline-block;
    min-width: 100px;
    width:100%;
}

span.errorStyle {
	color:$danger;
	font-size:13;
}

span.bolded {
	color:$warn;
	font-size: 15px;
	width:15;
	font-weight:bold;
	
}

span.discussion{
text-align:left;
overflow: auto;
}

span.titleStyleUnSelected:hover  {
  background: $light;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
  color:$dark;
  cursor: hand;
}

input#btfilterSave,input#btdwLoad{
	background: $good;
}


input[type=file]{
	display: inline;
}


span.titleStyleSelected  {
    background: $primary-color;
    font-weight: bold;
}

span.highlighted {
    font-size: 20px;
    color:"Black";
}

thead.listPageTitle {
    background: $additional-info-color;
    color: $light;
    font-weight:bold;
    font-size:18px;
  }
  
 tr.listPageTitle {
 background-color: $trans-table-row;
 }
 
 span.listPageTitle {
font-size:16px;
color: $light;
}
table.errorStyle {
	text-align: left;
}
tr.uitabstyle{
	text-align: left;
}
tr.oddRowError {
	text-align: left;
	background-color:$dark;
}
tr.evenRowError {
	text-align: left;
	background-color:$dark;
}
dialog.fullpagepopup  {
	width:1300px;
	height:550px;
	top: 100;
}

iframe.lookupFrameStyle {
	left:0%;
	width:100%;
	top:0%;
	height:100%;
}

table.CRUDtableContainer {
	line-height: 200%;
	td{
		text-align: left;
	}
	input{
		line-height: initial;
	}
}

table.uitabstyle{
	background-color: $background-inherit;
	span{
		color: $dark;
	}
	td{
	   padding: 5px;
	}
	span.titleStyleSelected{
		color: $light;
	}
}
th.uitabstyle{
	background-color:$background-color;
}
table, tr {
width : 100%;
text-align: right;
}

.button {
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
	  color: $light;
	font-size: 13px;
	background: #00abff;
}


.outlinedTable{
  textarea{
	      height: 50px;
  }
  input{
	    line-height: initial;
  }
  td{
	  vertical-align: middle;
	      text-align: center;
  }
}

.childSectionStyle{
	span{
		color: $dark;
	}
}

.nav-tabs .nav-link{
	float: left;
}