@import "./colors.scss";

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    z-index:1;
}
body{
    padding: 50px;
}
div.topBar{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    background: $header-color;
    color: $light;
    text-align: center;
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);

    button.btn{
      background: none;
      color: white;
    }
    .menu:hover{
      cursor: hand;
    }
    .menu{
      display: none;
    }
 
   .menu:before {
      content: "\f039";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      color: $light;
      font-size: 30px;
      padding-right: 0.5em;
      position: absolute;
      left: 25px;
  }
  .table-striped>tbody>tr:nth-of-type(odd){
      background: none;
  }
  .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
      border: none;
  }
  .table-bordered{
      border: none;
  }
}

span.topBar {
 font-size: 20px ;
 font-weight:bold;
 color: #9d9d9d;;
 line-height: 40px;
}

//reset boostrap style for header form
.headerStyle,.filterStyle{
    table tbody tr td{
        border: none;
    }
}

