@import "./reset";
@import "./colors.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./nav.scss";
@import "./alert-dialog.scss";

body {
    background:  $background-color;
  	box-sizing: border-box;
	  font-family: 'Roboto', sans-serif;
}

div.pagestyle {
     position: relative;
    overflow: auto;
    width: 86%;
    float: left;
}


.errorStyle {
position:relative;
}

.filterStyle {
    position: relative;
    overflow: auto;
    font-size: 12px;
    color: $light;
    margin: 10px;
    padding: 10px;
    background-color: $primary-color;
    background: -webkit-linear-gradient(305deg,$filter-start-color,$filter-stop-color);
    background: linear-gradient(145deg,$filter-start-color,$filter-stop-color);

    table td{
      text-align: left;
   }
   span{
     color: $light;
    font-size: 13px;
    min-width: 100px;
    display: inline-block;
   }
   #btfilterApply{
     background: $warn;
   }
   #btfilterClear{
     background: $danger;
   }
   #btfilterSave{
     background: $good;
   }
}
div.detailStyle {
position:relative;
overflow:auto;
max-height: 60%;
  table{
        margin: auto;
        width: 95%;
        border: 1px solid $medium-dark;
    }
  thead.listPageTitle {
    background: $additional-info-color;
    color: $light;
    font-weight:bold;
    font-size:18px;
  }
  th{
    text-align: right;
  }
}

div.summaryStyle{
   text-align: right;
    position: relative;
    width: 86%;
    height: 40px;
    margin-top: 10px;
    float: right;
    input{
      background: $primary-color;
      color: $light;
    }
}


div.sameline  {
float:right ;
position:inherit;
}

.showinright  {
float: right;
}

span.errorStyle {
 color:$danger;
 font-size:13px;
}

table, tr {
width : 100%;
text-align: right;
}

table.errorStyle {
 text-align: left;

}
tr.oddRowError {
 text-align: left;
 background-color:$dark;
}
tr.evenRowError {
 text-align: left;
 background-color:$dark;
}


span.listPageTitle {
font-size:16px;
}

tr.oddRow{
background-color:inherit;
color:$dark;
}

#btnAddRow,#btnDelRow {
   font-family: FontAwesome;
   border: none;
   border-radius: 15px;
   height: 30px;
   width: 30px;
   color: $light;
   background-color: $good;
}

#btnDelRow
{
  background-color: $danger;
  margin-top: 2px;
}



tr.evenRow{

background-color:$secondary-color;

}

.button {
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
	  color: $light;
    font-size: 13px;
}
