@import "./reset";
@import "./colors.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./nav.scss";
@import "./alert-dialog.scss";

body {
    background:  $background-color;
  	box-sizing: border-box;
	  font-family: 'Roboto', sans-serif;
}
form {
	> p {
		margin: 0px;
	}
}

div.pagestyle {
     position: relative;
    overflow: auto;
    padding-left: 225px;
    width: 100%;
    float: left;
}


.errorStyle {
position:relative;
}

.filterStyle {
    position: relative;
    overflow: auto;
    font-size: 12px;
    color: $light;
    margin: 10px;
    padding: 10px;
    background-color: $primary-color;
    background: -webkit-linear-gradient(305deg,$filter-start-color,$filter-stop-color);
    background: linear-gradient(145deg,$filter-start-color,$filter-stop-color);

    table td{
      text-align: left;
   }
   span{
     color: $span-default;
    font-size: 13px;
    min-width: 100px;
    display: inline-block;
   }
   #btfilterApply{
     background: $warn;
   }
   #btfilterClear{
     background: $danger;
   }
   #btfilterSave{
     background: $good;
   }
}
div.detailStyle {
position:relative;
overflow:auto;
max-height: 60%;
  th{
    text-align: left;
  }
}

div.summaryStyle{
   text-align: right;
    position: relative;
    height: 40px;
    margin-top: 10px;
    padding-left: 225px;
    width: 100%;
    float: right;
    input{
      background: $primary-color;
      color: $light;
    }
    .table-striped>tbody>tr:nth-of-type(odd){
      background: none;
   }
    .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
      border: none;
   }
   .table-bordered{
      border: none;
   }
}


div.sameline  {
float:right ;
position:inherit;
}

.showinright  {
float: right;
}

span.errorStyle {
 color:$danger;
 font-size:17px;
}


table.summaryStyle {
text-align: right;
}

tr.summaryStyle {
text-align: right;
}

table.errorStyle {
 text-align: left;

}
tr.oddRowError {
 text-align: left;
 background-color:$dark;
}
tr.evenRowError {
 text-align: left;
 background-color:$dark;
}


span.listPageTitle {
font-size:16px;
}

tr.oddRow{
background-color:inherit;
color:$dark;
}

#btnAddRow, #btnDelRow {
    padding: 4px !important; }


tr.evenRow{

background-color:$secondary-color;

}

.button {
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
	  color: $light;
    font-size: 13px;
}
