@import "./colors.scss";

div.leftnav {
    position: relative;
    width: 14%;
    background: $menu-bg-color;
    color: $light;
    overflow-y: scroll;
    float: left;
    height: 100%;
}

ul{
  list-style-type: none;
 }
 
 .menustyle {
    font-size: 13px;
    color:$light;
   list-style-type: none;
    text-align:left;
    display: block;
    padding: 5px;
    padding-left: 15px;
 }

 .menustyle:first-child{
     margin-top: 5px;
 }
 
.menustyle:hover{
    cursor: hand;
    background: $menu-hover-color;
    color: $light;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
 }
 
.menustyleParent {
    font-size: 13px;
    color:$light;
    list-style-type: none;
    text-align:left;
    padding: 5px;
    margin-bottom: 5px;
    &.open:before{
          content: "\f139";
    }
}

.menustyleParent:before{
      content: "\f13a";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      color: $light;
      font-size: 13px;
      position: absolute;
      right: 1px;
}


.menustyleParent:hover{
    cursor: hand;
 }