@import "./reset";
@import "./colors.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./nav.scss";
@import "./alert-dialog.scss";
body {
    background:  $background-color;
  	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
form {
	> p {
		margin: 0px;
	}
}
div.pagestyle {
	position: absolute;
    overflow: auto;
    width: 85%;
    top: 13%;
    left:15%;
    height:83%;
}

div.coreStyle {
 position:relative;
 overflow:auto;
 height:90%;
}

div.detailCRUDStyle {
position:relative;
overflow:auto;
height: 48%;
}

div.detailCRUDStyleForSale {
position:relative;
overflow:auto;
height: 42%;
}

div.detailCRUDStyleForPage {
position:relative;
overflow:auto;
height: 85%;
}

thead.listPageTitle {
    background: $additional-info-color;
    color: $light;
    font-weight:bold;
    font-size:18px;
  }
  
 tr.listPageTitle {
 background-color: $trans-table-row;
 }
 

span.listPageTitle {
font-size:16px;
color: $light;
}
div.childSectionStyle {
position:relative;
overflow:auto;
}

div.uitabstyle {
background-color: $tab-bg;
overflow:scroll;
} 

div.summaryStyle{
text-align: right;
    position: absolute;
    height: 5%;
    width: 85%;
    left:15%;
    top:94%;
table td{
	border: none;
}
.button{
	background: $primary-color;
	font-size: 13px;
}
/*background-color:rgb(192,192,192); 192,192,192*/
/*background-color:rgb(106,53,0); Brown*/
/**background-color:rgb(185,180,206);**/
 }


input {
	/*color: white;*/
	font-size: 12px;
}

span{
     color: $span-default;
    font-size: 13px;
    min-width: 150px;
    display: inline-block;
   }

span.crudlabel{
     color: $span-default;
    font-size: 15px;
    font-weight:bold;
    min-width: 150px;
    display: inline-block;
   }

   
span.bigTitle {
	color: $light;
	font-size: 18px;
}

span.errorStyle {
	color:$danger;
	font-size:17;
}

span.bolded {
	color:yellow;
	font-size: 15px;
	width:15;
	font-weight:bold;
	
}

span.highlighted {
    font-size: 20px;
    color:"Black";
}
table.halftable {
width : 50%;
}
table.errorStyle {
	text-align: left;
}
tr.uitabstyle{
	text-align: left;
}
tr.oddRowError {
	text-align: left;
	background-color:black;
}
tr.evenRowError {
	text-align: left;
	background-color:black;
}
table.CRUDtableContainer {
	line-height: 200%;
	text-align: left;
}

tr.CRUDtableContainer {
	text-align: left;
}
th.uitabstyle{
	background-color:rgb(192,192,192);
}
table, tr {
width : 100%;
text-align: left;
}

th.listPageTitle{
text-align: left;
}

td.grid {

border: 1px solid #cccccc;
}

table.grid {
	border-style: solid;
	text-align: left;
	border-collapse: collapse;
	position:relative;	
	table-layout:fixed;
}

.button {
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	border-radius: 8px;
	font-size: 13px;

}

 

dialog.widepopup  {
	width:750px;
	height:300px;
	top: 100;
}

dialog.fullpagepopup  {
	width:1300px;
	height:550px;
	top: 100;
}

iframe.quickcustaddstyle {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 5px;
}

iframe.fullPageFrameStyle {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 5px;
}

iframe.lookupFrameStyle {
    width: 22%;
    height: 40%;
    margin: auto;
    border-radius: 5px;
}

.button {
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
	color: $light;
	background-color:$good;
	font-size: 13px;
}

.nav-tabs .nav-link{
	float: left;
}


span.titleStyleSelected  {
    background: $primary-color;
    font-weight: bold;
}

span.titleStyleUnSelected:hover  {
  background: $light;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
  color:$dark;
  cursor: hand;
}