<!--
  Generated template for the SalesLeadSearch page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
     <ion-buttons start>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </button>
     </ion-buttons>
    <ion-title>Sales Lead Search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ps-error [message]="errorMessage" [type]="'error'"></ps-error>
  <ion-grid>
       <ion-row>
         <ion-col>
           <ion-item>
               <ion-label *ngIf="!filterName" >Filter</ion-label>
                <ion-select [(ngModel)]="filterName" (ionChange)="fetchFilterValues()">
                  <ion-option value="0" >Add Filter</ion-option>
                  <ion-option *ngFor="let filter of availableFilters" value="{{filter.filterValue}}">{{filter.filterValue}}</ion-option>
                  </ion-select>
             </ion-item>
        </ion-col>
        <ion-col>
           <ion-item>
             <button ion-button icon-only class="filter-buttons" favorite (click)="onAdd()">
                  <ion-icon name="add"></ion-icon>
             </button>
             <button ion-button icon-only danger class="filter-buttons" (click)="onReset()">
                  <ion-icon name="close-circle"></ion-icon>
             </button>
             </ion-item>
        </ion-col>
     </ion-row>
  </ion-grid>
  <form #salesLeadSearchForm="ngForm">
    <ion-grid>
     <ion-row>
       <ion-col>
         <ion-item>
           <ion-label floating>Document Number</ion-label>
           <ion-input type="text" [(ngModel)]="model.DocNumber" name="docNum" #docNum="ngModel"></ion-input>
         </ion-item>
       </ion-col>
       <ion-col>
         <ion-item>
           <ion-label floating>Phone</ion-label>
           <ion-input type="text" [(ngModel)]="model.Customer.Phone" name="phone" #phone="ngModel"></ion-input>
         </ion-item>
       </ion-col>
     </ion-row>
     <ion-row>
       <ion-col>
         <ion-item>
           <ion-label floating>Status</ion-label>
           <ion-select [(ngModel)]="model.Status.Description" name="status" #status="ngModel">
                  <ion-option *ngFor="let rc of reasonCodes" value="{{rc.Description}}">{{rc.Description}}</ion-option>
            </ion-select>
         </ion-item>
       </ion-col>
     </ion-row>
    </ion-grid>
      
  </form>
  <div class="button-container">
   <button ion-button [disabled]="!salesLeadSearchForm.form.valid" (click)="doSearch()">Search</button>
  </div>
</ion-content>
